<!DOCTYPE html>
<html>

<head>

    {% extends 'navbar.html' %}


    {% block tasbut %}
    0.4
    {% endblock tasbut %}

    {% block goalbut %}
    0.8
    {% endblock goalbut %}

    {% block rewardbut %}
    0.4
    {% endblock rewardbut %}

    {%block content%}
    <!-- all html for body goes here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">



</head>

<body>
    <form class="ui form" action="/addGoals" method="post">
        <div class="field">
            <label>Todo Title</label>
            <input type="text" name="title" placeholder="Enter Todo..."><br>
        </div>
        <button class="ui blue button" type="submit">Add</button>
    </form>
    <div class="container" style="background-color: rgb(255, 255, 255, 0.4); padding-bottom: 5%; color: black;">
        {% for todo in todo_list%}
        <p> {{ todo.id }} | {{ todo.title }} </p>
        {% if todo.status == False %}
        <span> not complete</span>
        {% else %}
        <span> complete</span>
        {% endif %}

        <a class="update-goals" href="/updateGoals/{{ todo.id }}">Update</a>
        <a class="delete-goals" href="/deleteGoals/{{ todo.id }}">Delete</a>

        {% endfor %}
    </div>

    {%endblock content%}
</body>

</html>