<!DOCTYPE html>

<html>

    <head>
      <link rel = "stylesheet" href = "../static/css/style.css">
    </head>

    <body>
      <div class="task">

      <!-- Invisible boundaries for our app. The width is 440 pixels. Our app should sit in the center of the screen. -->

         <h2 class="todo__caption">My Tasks</h2><!-- heading -->

         <div id="tdlApp">
           <input type="text" class="form-control" placeholder="Add a task here">
          <div class="tdlDiv">
             <ul class="tdList list-unstyled"></ul><!-- add tasks here -->
           </div>
         </div>
      </div>

    </body>

</html>
