{% extends 'navbar.html' %}
{% block tasbut %} 0.4 {% endblock tasbut %}
{% block goalbut%} 0.4 {%endblock goalbut %}
{% block rewardbut %} 0.8 {% endblock rewardbut %}
{%block content%}

<div class="card" style="margin: 5px;">
    <div class="card-header">
        <h1 id="level" style="text-align:center">Level </h1>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Animation
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item run" onclick="functionToChangeAnimation(Run);">Run</a></li>
            <li><a class="dropdown-item" onclick="functionToChangeAnimation(Idle);">Idle</a></li>
            {% if 5 > 5 %}
            <li><a class="dropdown-item" onclick="functionToChangeAnimation(Run);">dazed</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="card-body">
        <canvas id="canvas1" style="
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 15px;">
        </canvas>
    </div>
</div>
<script type="text/javascript">
    score = "{{score}}"
</script>
<script src="../static/js/rewards.js"></script>
{%endblock content%}