{% extends 'navbar.html' %}
{% block tasbut %} 0.4 {% endblock tasbut %}
{% block goalbut%} 0.4 {%endblock goalbut %}
{% block rewardbut %} 0.8 {% endblock rewardbut %}
{%block content%}

<div class="card" style="margin: 5px;">
    <div class="card-header">
        <h2 style="text-align:center">Your Score: {{score}}</h2>
        <h3 id="level" style="text-align:center; color:black;" >Level </h3>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Animation
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" onclick="playAnimation(0);">Idle</a></li>
          {% if score >= 5 %}
          <li><a class="dropdown-item" onclick="playAnimation(1);">Run</a></li>
          {% endif %}
          {% if score >= 10 %}
          <li><a class="dropdown-item" onclick="playAnimation(2);">Dazed</a></li>
          {% endif %}
          {% if score >= 15 %}
          <li><a class="dropdown-item" onclick="playAnimation(3);">Roll</a></li>
          {% endif %}
          {% if score >= 20 %}
          <li><a class="dropdown-item" onclick="playAnimation(4);">Bite</a></li>
          {% endif %}
          {% if score >= 25 %}
          <li><a class="dropdown-item" onclick="playAnimation(5);">Derp</a></li>
          {% endif %}
          {% if score >= 20 %}
          <li><a class="dropdown-item" onclick="playAnimation(6);">Stanky Leg</a></li>
          {% endif %}
        </ul>
    </div>
    <div class="card-body">
        <canvas id="canvas1" style="
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 15px;">
        </canvas>
    </div>
</div>
<script type="text/javascript">
    score = "{{score}}"
</script>
<script src="../static/js/rewards.js"></script>
{%endblock content%}