{% extends 'navbar.html' %}


{% block tasbut %}
0.8
{% endblock tasbut %}

{% block goalbut %}
0.4
{% endblock goalbut %}

{% block rewardbut %}
0.4
{% endblock rewardbut %}

{%block content%}
<!-- all html for body goes here -->
<div class="container" style="padding-bottom: 5%;">
    <div id="myDIV" class="header">
        <h2 style="margin:5px">My To Do List</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>
      
      <ul id="myUL">
        <li>Hit the gym</li>
        <li class="checked">Pay bills</li>
        <li>Meet George</li>
        <li>Buy eggs</li>
        <li>Read a book</li>
        <li>Organize office</li>
      </ul>
      
      <script src="../static/js/tasklist.js"></script>
</div>
{%endblock content%}